.App {
  text-align: center;
  background: lightgray
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 40vmin;
  pointer-events: none;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.NumPad {
  display: grid;
  grid: 3fr / 1fr 1fr 1fr;
  grid-template-rows: 60px 60px 60px 60px;
}

.SymbolPad {
  display: grid;
  grid: 4fr / 1fr 1fr 1fr 1fr;
  grid-template-rows: 60px;
}

.View {
  display: grid;
  grid: 2fr / 1fr 1fr;
  background-color: lightsalmon;
  border: groove
}

button {
  background-color: lightgrey;
  border: groove;
  font-size: 20px
}

.inputWin {
  border: groove
}

.outputWin {
  border: groove
}

h1 {
  text-align: center;
  padding-top: 5%;
}